@font-face {
    font-family: 'primary';
    src: url(../fonts/BPdotsUnicase.otf),url(../fonts/BPdotsUnicaseBold.otf),url(../fonts/BPdotsUnicaseLight.otf);
}
@font-face {
    font-family: 'semi-title';
    src: url(../fonts/Capture\ it.ttf);
}
*{
    margin: 0;
}

.body{
    background-image: url("../img/bg-body.svg");
}
.navicon{
    text-align: center;

}
.navicon>img{
    height: 400px;
    width: 550px;
}
h1,h2{
    text-align: center;
}
h1,h4{
    color: aliceblue;
    text-shadow: 0 0 20px black;
}
h1{
    font-family: 'primary',sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}
h2{
    font-family: semi-title;
    letter-spacing: 5px;
}

.Card {
    height: 500px;
    /* background: #0c4f4e; */
    background-image: url(../img/Hexagon\ \(4\).svg);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 8px 30px #596a63;
    
  }
  
  .Card .fancy {
    z-index: 1;
  }
  
  .Card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .Card::after {
    content: '';
    position: absolute;
    /* background: #0c4f4e; */
    background-image: url(../img/Hexagon\ \(4\).svg);
    inset: 5px;
    border-radius: 15px;
  }  
  /* .Card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */
  
  .fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    outline: none;
    overflow: visible;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: white;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }
footer{
  background-image: url(../img/Circuit\ Board\ \(1\).svg);
  margin-top: -5px;
}  

footer h3{
    padding: 20px 0px;
    text-align: center;
    color: aliceblue;
    font-size: 1.5em;
    text-shadow: 1px 1px 20px black;
}
.footer{
  display: flex;
  padding: 20px 40px;
  justify-content: space-around;
  font-size: 30px;
}
.fa-brands{
  color: white;
}